# Ignorar archivos compilados y dependencias
dist
node_modules
build
coverage

# Ignorar archivos de configuración
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignorar archivos de entorno
.env
.env.local
.env.*.local

# Ignorar archivos generados
*.log
*.min.js
*.min.css
